<!--<%= link_to 'My Blog', controller: 'articles' %>-->

		<!-- Main -->
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>My Portfolio</h2>
									</header>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic02.jpg" alt="" /></a>
												<header>
													<h3>Ipsum feugiat et dolor</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic03.jpg" alt="" /></a>
												<header>
													<h3>Sed etiam lorem nulla</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic04.jpg" alt="" /></a>
												<header>
													<h3>Consequat et tempus</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic05.jpg" alt="" /></a>
												<header>
													<h3>Blandit sed adipiscing</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic06.jpg" alt="" /></a>
												<header>
													<h3>Etiam nisl consequat</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic07.jpg" alt="" /></a>
												<header>
													<h3>Dolore nisl feugiat</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Find out more</a></li>
													</ul>
												</footer>
											</section>
										</div>
									</div>
								</section>

						</div>
						<div class="col-12">

							<!-- Blog -->
								<section>
									<header class="major">
										<h2>The Blog</h2>
									</header>
									<div class="row">
										<div class="col-6 col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic08.jpg" alt="" /></a>
												<header>
													<h3>Magna tempus consequat</h3>
													<p>Posted 45 minutes ago</p>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
														<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
													</ul>
												</footer>
											</section>
										</div>
										<div class="col-6 col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="/assets/pic09.jpg" alt="" /></a>
												<header>
													<h3>Aptent veroeros aliquam</h3>
													<p>Posted 45 minutes ago</p>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
														<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
													</ul>
												</footer>
											</section>
										</div>
									</div>
								</section>

						</div>
					</div>
				</div>
